@import "fonts";
@import "header";
@import "footer";
@import "global";
@import "gridgallery";
@import "smalltextgallery";

body {
    font-family: $main-font;
    width: 100%;
}


.information-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;

}

.information {
    display: flex;
    flex-direction: column;
    max-width: 635px;
    min-height: 400px;
    width: 100%;
    
}

.information h3 {
    max-width: 495px;
    min-width: 200px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 25px;
}

.information p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}


.blog-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

}

.blog-info {
    display: flex;
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
}